
*, *::before, *::after{
  box-sizing: inherit;
}

body{
  background-image: linear-gradient(80deg, teal 0%, orange  150%);
  color: turquoise;
  font-family: cursive;
  min-height: 100vh;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}



.gifContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 30px;

}

button{
  font-size: 1rem;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  color: #fff;
  font-weight: bolder;
  background: linear-gradient(79deg, teal 20%, springgreen 85%);
  border: 2px solid var(--input-border);
  border-radius: 4px;
  margin-top: 1rem;
  
}
.noGif{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 40px;
  margin:0;
  align-items: center;
  
}

.myGif{
  height: 50%;
  width: 50%;
}

.logo{
  height: 50%;
  width: 50%;
  inline-size: 200px;
}

a{
  text-align: center;

}

h1{
  font-size: 3rem;
  margin-bottom: 0px;
  color: turquoise;
  font-family: serif;
}

